<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->

<!DOCTYPE html>
<html lang="fr">

<body class="container">

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p><%= tagline %></p>
        <table border="1px">
            <% items.forEach(function(item) { %>
            <tr>
                <td>    <%= item.market_hash_name %>  
                    <br>  <a href="https://bskn.co/view_item?app_id=730&item_id=<%= item.id_str %>">
                            <img width="128px" height="128px"  src=" <%= item.image %> "> 
                          </a>
                </td>
                <td>
                    <%= item.price %> $
                    <br>
                    <%= item.suggested_price  %> $ 
                </td>
                
            </tr>
            <% }); %>
        </table>
    </div>
</main>

</body>
</html>